<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>


    <div class="mask-wrapper">
      <div class="mask">
        <input class="fileInputText" type="text" disabled>
        <button class="send-file">Обзор</button>
      </div>
      <%= f.file_field :doc , class:"custom-file-input" %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

