<div class="center hero-unit">
<p><%= notice %></p>

<p>

 <h3> <%= @article.name %>   </h3>
</p>

<p>
  <%= @article.body %>
</p>

  <div class="row-fluid">
    <%= link_to 'редактировать', edit_article_path(@article) %> |
    <%= link_to 'удалить', @article, method: :delete, data: { confirm: 'Are you sure?' } %>|
    <%= link_to 'назад', articles_path %>
</div>
</div>