<div class="center hero-unit">

 <h3> <%= @article.name %>   </h3>


<p>
  <%= @article.body %>
</p>
  <p>
    <%= @article.doc_uid %>
  </p>

  <div class="row-fluid">
    <%= link_to 'редактировать', edit_article_path(@article) %> |
    <%= link_to 'удалить', @article, method: :delete, data: { confirm: 'Are you sure?' } %>|
    <%= link_to 'назад', articles_path %>
</div>
</div>