<%= form_for(@accord) do |f| %>
  <% if @accord.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@accord.errors.count, "error") %> prohibited this accord from being saved:</h2>

      <ul>
      <% @accord.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :picture_url %><br />
    <%= f.text_field :picture_url %>
  </div>
  <div class="field">
    <%= f.label :video_url %><br />
    <%= f.text_field :video_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
