<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>GuitarMaster</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
  <script type="text/javascript">
      ymaps.ready(init);
      var myMap,
              myPlacemark;

      function init(){
          myMap = new ymaps.Map ("map", {
              center: [55.75, 37.65],
              zoom: 15
          });

          myPlacemark = new ymaps.Placemark([55.74892, 37.6523], {
              hintContent: 'Москва!',
              balloonContent: 'Столица России'
          });

          myMap.geoObjects.add(myPlacemark);
      }
  </script>

</head>
<body>

<%= render 'layouts/header' %>
<div class="container-fluid" id="main_content" >

  <%= yield %>
</div>

<footer >
  <div class="container-fluid">
    &copy; <%= Time.now.year %> AlexRosh
  </div>
</footer>

</body>
</html>
