<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>GuitarMaster</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
</head>
<body>

<%= render 'layouts/header' %>

<div class="container-fluid" id="main_content" >
  <%= yield %>
</div>

<footer >
  <div class="container-fluid">
    &copy; <%= Time.now.year %> AlexRosh
  </div>
  <% I18n.locale == :ru ?
                 locale = :en :
                 locale = :ru %>

    <%= link_to t('top_menu.change_locale'),
                change_locale_url(locale) +
                        "?return_to=#{CGI.escape(request.url)}" %>
</footer>

</body>
</html>
